<!DOCTYPE html>
<html lang="en">

<head>
    <title>Marvel | Tribute Page |</title>
    <link rel="stylesheet" href="stylesheets/marvel.css " />
    <script src="script.js " defer></script>
    <script src="https://kit.fontawesome.com/81d73e8e4d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="movies-page" id="movies-page">
        <div class="headings padding">
            <p class="title"> Marvel</p>
            <h2 class="sub-title">Avengers Forever</h2>
        </div>
        <ul class="movies-list">
            <li>
                <a href="/iron">
                    <img style="width: 200px; height: 200px;object-fit: contain;" src="img/tony.png" alt=" " />
                </a>
            </li>
            <li>
                <a href="/spidy"><img style="width: 200px; height: 200px;object-fit: contain;"
                        src="https://www.pngall.com/wp-content/uploads/2016/05/Spider-Man-PNG-Clipart.png" alt=" " />
                </a>
            </li>
            <li>
                <a href="/hulk"><img style="width: 200px; height: 200px;object-fit: contain;"
                        src="https://www.pngall.com/wp-content/uploads/2016/03/Incredible-Hulk-PNG.png" alt=" " />
                </a>
            </li>
            <li>
                <a href="/thor"><img style="width: 200px; height: 200px;object-fit: contain;"
                        src="https://www.pngall.com/wp-content/uploads/2016/04/Thor-PNG-HD.png" alt=" " />
                </a>
            </li>
            <li>
                <a href="/cap"><img style="width: 200px; height: 200px;object-fit: contain;"
                        src="https://www.pngall.com/wp-content/uploads/2016/05/Captain-America-PNG-Clipart.png"
                        alt=" " />
                </a>
            </li>
        </ul>
        <div style="display:flex;flex-direction: row;column-gap: 230px;">
            <div>Iron Man</div>
            <div>Spider Man</div>
            <div>Hulk Buster</div>
            <div>Thor Ragnorak</div>
            <div>Captain America</div>
        </div>
    </div>
    <footer>Marvel | Tribute Page | By Avis</footer>
</body>

</html>